<div class="row">
  <div class="col-md-12">
    <h1>Characters</h1>

    <% if current_user %>
      <%= link_to "Create New Character", new_character_path %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form_tag("/characters", method: :get, remote: true) do %>
      <%= label_tag(:query, 'Search for:') %>
      <%= text_field_tag(:query) %>
      <%= submit_tag(:search) %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered" id="characters_table">
      <thead>
        <tr>
          <th></th>
          <th>Alias</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Universe</th>
          <% if current_user %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      
      <tbody>
        <%= render @characters %>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <p>fake content</p>
  </div>
</div>

