<%= link_to 'return to characters list', characters_path %>

<% if @character %>

  <h1><%= @character.alias %></h1>
  <p>First Name: <%= @character.first_name %></p>
  <p>Last Name: <%= @character.last_name %></p>
  <p>Universe: <%= @character.universe.try(:name) %></p>
  <p>Bio: <%= @character.bio %></p>

  <p>Abilities</p>
  <ul>
    <% @character.abilities.each do |ability| %>
    <li><%= ability.name %></li>
    <% end %>
  </ul>

<% else %>

  <p> Character not found </p>

<% end %>

<%= link_to "edit", edit_character_path(@character) %>

