<%= link_to 'return to characters list', characters_path %>
<br/>

<div class="row">
  <div class="col-md-6">
    <!-- profile info -->
    <% if @character %>
      <%= image_tag @character.photo.url(:medium), class: 'profile_pic' %>

      <h1><%= @character.alias %></h1>
      <p>First Name: <%= @character.first_name %></p>
      <p>Last Name: <%= @character.last_name %></p>
      <p>Universe: <%= @character.universe.try(:name) %></p>
      <p>Bio: <%= @character.bio %></p>

      <p>Abilities</p>
      <ul>
        <% @character.abilities.each do |ability| %>
        <li><%= ability.name %></li>
        <% end %>
      </ul>

    <% else %>

      <p> Character not found </p>

    <% end %>

    <% if current_user %>
      <%= link_to "edit", edit_character_path(@character) %>
    <% end %>
  </div>

  <div class="col-md-6">

    <%= form_for [@character, @comment] do |f| %>
      <h2>Add Comment</h2>
      <div class="form-group">
        <%= f.label :body %><br>
        <%= f.text_area :body, class: 'form-control' %>
      </div>

      <%= f.submit class: 'btn btn-primary' %>
    <% end %>

    <h2>Comments</h2>

    <% @comments.each do |comment| %>
      <div>
        <p><b><%= comment.user.try(:email) %> </b></p>
        <p><%= comment.body %></p>
      </div>
      <hr>
    <% end %>
</div>
